<template>
   <header class="header">
       <div class="middle-header-content">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-6 logo-header">
                    <router-link :to="'/'">
                        <h1 class="logo"><img alt="Vue logo" src="../../assets/icon/logo1.png"></h1>
                    </router-link>
                </div>
                <div class="col-lg-5 col-sm-2 parent__megameu">
                    <nav class="navigation">
                        <ul class="nav nav-main nav-main-menu">
                            <li v-for="item in listMenuItems" :key="item.id">
                                <router-link :to="'/' + item.name">{{item.name}}</router-link>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-9">
                    <div class="table-icon-menu">
                        <div class="parent__search">
                            <div class="form-search">
                                <form action="" class="form minisearch">
                                    <input type="text" placeholder="Tìm kiếm" class="search">
                                    <button class="btn-search"></button>
                                </form>
                            </div>
                        </div>
                        <div class="parent__login action-right">
                            <a>
                                <img alt="Vue logo" src="../../assets/icon/icon-account.png">
                            </a>
                            <div class="dropdown-menu">
                                <ul class="links">
                                    <li><a href="">Tài khoản của tôi</a></li>
                                    <li class="link wishlist">
                                        <a href="">Danh sách yêu thích của tôi</a>
                                    </li>
                                    <li><a href="#social-login-popup" class="social-login">Tạo tài khoản</a></li>
                                    <li class="link authorization-link">
                                        <a href="" class="social-login">Đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="parent__minicart action-right">
                            <div class="counter qty">{{totalNumberProduct}}</div>
                            <span class="action showcart"  @click="showCart"  v-bind:class="{ active: isActive }"><img alt="Vue logo" src="../../assets/icon/icon-cart.png"></span>
                            <div class="block block-minicart">
                                <div class="minicart-content-wrapper">
                                    <h3 class="close-minicart">
                                        Giỏ Hàng 
                                        <button @click="close">
                                            <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m256 512c-141.160156 0-256-114.839844-256-256s114.839844-256 256-256 256 114.839844 256 256-114.839844 256-256 256zm0-475.429688c-120.992188 0-219.429688 98.4375-219.429688 219.429688s98.4375 219.429688 219.429688 219.429688 219.429688-98.4375 219.429688-219.429688-98.4375-219.429688-219.429688-219.429688zm0 0"/><path d="m347.429688 365.714844c-4.679688 0-9.359376-1.785156-12.929688-5.359375l-182.855469-182.855469c-7.144531-7.144531-7.144531-18.714844 0-25.855469 7.140625-7.140625 18.714844-7.144531 25.855469 0l182.855469 182.855469c7.144531 7.144531 7.144531 18.714844 0 25.855469-3.570313 3.574219-8.246094 5.359375-12.925781 5.359375zm0 0"/><path d="m164.570312 365.714844c-4.679687 0-9.355468-1.785156-12.925781-5.359375-7.144531-7.140625-7.144531-18.714844 0-25.855469l182.855469-182.855469c7.144531-7.144531 18.714844-7.144531 25.855469 0 7.140625 7.140625 7.144531 18.714844 0 25.855469l-182.855469 182.855469c-3.570312 3.574219-8.25 5.359375-12.929688 5.359375zm0 0"/></svg>
                                        </button>
                                    </h3>
                                    <div class="block-content">
                                        <div class="item-cart">
                                            <ol class="mini-cart">
                                                <li class="item"  v-for="(item,index) in cartProduct" :key="item.key">
                                                    <div class="product">
                                                        <div class="product-item-photo">
                                                            <img :src="item.item.image[0]" alt="Bộ cộc tay bé gái">
                                                        </div>
                                                        <div class="product-item-details">
                                                            <h5 class="product_name">{{item.item.name}}</h5>
                                                            <div class="product-item-pricing">
                                                                <p class="total">Số lượng: {{item.quantity}}</p>
                                                            </div>
                                                            <button class="clear" @click="removeItemCart(index)">
                                                                <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"/><path d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/><path d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"/></g></svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="subtotal">
                                            <span class="label">Tổng: {{totalPriceProduct}}</span>
                                            <span class="price">&nbsp;VNĐ</span>
                                        </div>
                                        <div class="actions secondary">
                                            <a href="">Xem giỏ hàng</a>
                                        </div>
                                        <div class="actions primary">
                                            <a href="">Tiến hành thanh toán</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </header>
</template>


<script>
import { mapGetters } from 'vuex';
import { db } from "../../api/firebaseDb";
export default {
    name: 'Header',
    data: function () {
        return {
            listMenuItems: [],
            isActive: false,
        }
    },
    created() {
        db.collection('memuItems').onSnapshot((itemMemu) => {
            this.listMenuItems = [];
            itemMemu.forEach((item) => {
                this.listMenuItems.push({
                    key: item.id,
                    name: item.data().name
                })
            });
        })
    },
    methods: {
        showCart () {
            this.isActive = !this.isActive
        },
        close () {
            this.isActive = false;
        },
        removeItemCart (index) {
            this.$store.dispatch('removeItemCart' , {index});
        }
    },
    computed: {
        ...mapGetters({
            totalPriceProduct : 'totalPriceProduct',
            totalNumberProduct: 'totalNumberProduct',
            cartProduct       : 'cartProduct'
        }),
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$width_80: 80px;
h1.logo {
    text-align: left;
    margin: 0;
    line-height: 77px;
    img {
        height: 60px;
        width: auto;
    }
}
.nav.nav-main-menu {
	> li {
		> a {
			padding: 25px 22px;
			font-size: 18px;
			font-weight: 700;
			color: #222;
			font-family: "Baloo 2";
            display: block;
		}
	}
}
.middle-header-content {
    max-width: 1440px;
    margin: auto;
    padding: 15px;
}
.action-right {
    > a , > span {
        display: block;
        color: #000;
        border: 2px dashed #c4c4c4;
        border-radius: 10px;
        text-align: center;
        font-size: 22px;
        line-height: 22px;
        padding: 7px;
        margin: 0 10px;
        &:active,
        &:hover,
        &:focus { 
            border-color: #f97896;
            background: #fff8fa;
        }
    }
    &.parent__minicart {
        span {
            margin-right: 0;
        }
    }
}
.parent__search {
    position: relative;
    width: 100%;
    text-align: left;
    padding-right: 15px;
    .btn-search {
        background: url('../../assets/icon/search.svg') no-repeat;
        height: 28px;
        width: 25px;
        border: none;
        padding: 0;
        position: absolute;
        right: 30px;
        left: auto;
        top: auto;
        bottom: 50%;
        transform: translate(0, 50%);
    }
    input {
        font-size: 14px;
        color: #666666;
        background: #f7f7f7;
        border-radius: 10px;
        text-transform: capitalize;
        font-style: italic;
        outline: unset;
        border: unset;
        padding: 10px;
        width: 100%;
    }
}
.parent__login {
	.links {
		padding: 0;
		border: 1px solid #eee;
        display: none;
		> li {
			list-style: none;
			>a {
				border-bottom: 1px solid #eee;
				padding: 12px 15px 8px;
				display: block;
				text-decoration: none;
				color: #8e8e8e;
				transition: 0.4s ease all;
				&:hover {
					color: #56cfe1;
				}
				&:focus {
					color: #56cfe1;
				}
				&:active {
					color: #56cfe1;
				}
			}
			&:last-child {
				>a {
					border: none;
				}
			}
		}
	}
    &.active {
        .links {
            display: block;
        }
    }
}
.table-icon-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

// mini cart
.parent__minicart {
    position: relative;
    .item-cart:after {
        content: '';
        display: table;
        clear: both;
    }
    .subtotal {
        margin-top: 15px;
        text-align: center;
        width: 100%;
        padding: 11px 0 7px;
        border-top: 1px solid #ebebeb;
        > span {
            color: #222;
            font-size: 18px;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Baloo 2";
        }
    }
    ol.mini-cart {
        padding: 0 15px;
        &::after {
            content: '';
            display: table;
            clear: both;
        }
        li {
            list-style: none;
            display: block;
            clear: both;
            margin-bottom: 15px;
            .product {
                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
                .product-item-photo {
                    width: 80px;
                    float: left;
                    padding-right: 5px;
                    img {
                        width: 100%;
                    }
                }
                .product-item-details {
                    width: calc(100% - #{$width_80});
                    float: right;
                    padding-left: 5px;
                    text-align: left;
                    > p {
                        font-weight: 600;
                        font-size: 13px;
                        color: #222;
                        line-height: 1.428;
                        display: block;
                        font-family: "Baloo 2";
                    }
                    .product-item-pricing {
                        > p {
                            color: #2a2a2a;
                            font-size: 14px;
                            font-family: "Baloo 2";
                        }
                    }
                }
            }
        }
    }
    .counter.qty {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #f97896;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        line-height: 20px;
        font-size: 14px;
    }
    .actions.secondary {
        border: 2px solid #91c4e9;
        background-color: #fff;
        font-family: "Baloo 2";
        padding: 10px;
        border-radius: 30px;
        margin: 15px;
    }
    .actions.primary {
        color: #fff;
        border: 2px solid #91c4e9;
        background-color: #91c4e9;
        padding: 10px;
        border-radius: 30px;
        margin: 15px;
        a {
            color: #fff;
        }
    }
    .actions a {
        text-decoration: none;
         color: #222;
    }
    .block.block-minicart {
        background: #fff;
        top: 0;
        bottom: 0;
        width: 320px;
        right: auto;
        left: -320px;
        position: fixed;
        z-index: 999;
        opacity: 0;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .action.showcart.active + .block.block-minicart {
        opacity: 1;
        transform: translate3d(320px, 0, 0);
        -webkit-transform: translate3d(320px, 0, 0);
        -moz-transform: translate3d(320px, 0, 0);
        -o-transform: translate3d(320px, 0, 0);
    }
    &.active {
        &::after {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #000;
            opacity: 0.9;
            display: block;
            content: "";
            z-index: 998;
        }
    }
    .minicart-content-wrapper .close-minicart {
        background: #91c4e9;
        font-size: 16px;
        line-height: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-weight: 600;
        position: relative;
        font-family: "Baloo 2";
        button {
            position: absolute;
            right: 8px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            background: none;
            border: none;
            opacity: 0.8;
            svg {
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }
    }
}
.clear {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    svg {
        width: 20px;
        height: 20px;
        fill: #000;
        position: absolute;
        top: auto;
        bottom: 50%;
        left: auto;
        right: 50%;
        transform: translate(50%, 50%);
    }
    &:hover {
        svg {
            fill: #f97896;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}



@import url("//fonts.googleapis.com/css?family=Baloo+2:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic");
@import url("//fonts.googleapis.com/css?family=Quicksand:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic");
</style>