<template>
    <div class="selling products">
        <HeadingContent nameTitle="Thiết Kế Bán Chạy" nameNote="Những thiết kế bán chạy trong tuần" />
        <div class="container">
            <div class="products" ref="items">
                <div class="product-item" v-for="(product , index) in listData" :key="product.key" @mouseover="showImage(index)" :class="index == isActive ? activeClass : ''">
                    <div v-if="index <= commentsToShow">
                        <div class="product-top">
                            <a href="">
                                <img class="img-hover-show" :src="product.image.img1" alt="Product image"  />  
                                <img :src="product.image.img2" alt="Product image"  />
                            </a>
                        </div>
                        <div class="product details product-item-details">
                            <h5 class="product name product-item-name">
                                <a href="">{{product.name}}</a>
                            </h5>
                            <div class="price-box price-final_price">
                                <span class="normal-price">{{product.price}}</span>
                            </div>
                            <router-link :to="{ name: 'ProductDetails' , params: {key: product.key}}">Mua Hàng</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <Buttons :href="'javascript:void(0)'" btnName="Load More" :borderColor="'#000'" :colorText="'#000'" :padding="'10px 25px'" @click="loadMore" />
            <div class="overrice-loadmore" v-show="showLoadmore">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background: new 0 0 50 50;" xml:space="preserve">
                    <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                    </rect>
                    <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                    </rect>
                    <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                    </rect>
                </svg>
            </div>
        </div>
    </div>
</template>
<script>
import HeadingContent from "../base/HeadingContent";
import Buttons from "../base/Buttons";
export default {
    name: 'Products',
    data() {
        return {
            activeClass: 'is-visible',
            isActive: null,
            commentsToShow: 3,
            showLoadmore: false,
        }
    },
    methods: {
        showImage (index) {
            this.isActive = index
        },
        loadMore () {
            this.showLoadmore = !this.showLoadmore
            let promise = new Promise((resolve) => {
                setTimeout(() => 
                    {
                        resolve(this.showLoadmore = false)
                    }
                , 2000);
            })
            promise.then(this.loadImage);
        },
        loadImage () {
            this.commentsToShow += 4
        },
    },
    computed: {
        listData () {
            return this.$store.getters.listData;
        }
    },
    components: {
        HeadingContent,
        Buttons
    }
}
</script>

<style lang="scss" scoped>
    .selling.products {
        .products {
            margin-bottom: 30px;
            .product-item {
                width: 25%;
                display: inline-block;
                padding: 0 15px;
                margin-bottom: 30px;
                .product-top {
                    position: relative;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        object-position: 50% 50%;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
                        &.img-hover-show {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            opacity: 0;
                            visibility: hidden;
                            min-width: 100%;
                        }
                    }
                }
                &.is-visible {
                    .product-top {
                        img.img-hover-show {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1.09);
                        }
                    }
                }
                .product-item-details {
                    font-family: "Baloo 2";
                    margin-bottom: 15px;
                    .product-item-name {
                        margin: 10px 0;
                        a {
                            color: #000000;
                            font-size: 18px;
                            text-decoration: none;
                            &:hover {
                                color: #56cfe1;
                            }
                        }
                    }
                    .price-box .normal-price {
                        color: #91c4e9;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        display: block;
                    }
                }
                transition: 0.4s ease all;
                &:hover {
                    box-shadow: 1px 0 7px rgb(0 0 0 / 13%);
                }
            }
        }
        .overrice-loadmore {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(0 0 0 / 14%);
            svg {
                position: absolute;
                top: auto;
                bottom: 50%;
                transform: translate(0,50%);
            }
            svg path,
            svg rect{
                fill: #FF6700;
            }
        }
    }
</style>