<template>
    <div class="three-banner"> 
        <div class="banner-panel">
            <a href="">
                <img src="../../assets/banner/baby_1__.jpeg" alt="image-baby">
            </a>
            <Buttons btnName="Xem ngay" :borderColor="'#91c4e9'" :colorText="'#91c4e9'" />
        </div>
        <div class="banner-panel">
            <a href="">
                <img src="../../assets/banner/kid_.jpeg" alt="image-kid">
            </a>
            <Buttons btnName="Xem ngay" :borderColor="'#91c4e9'" :colorText="'#91c4e9'" />
        </div>
        <div class="banner-panel">
            <a href="">
                <img src="../../assets/banner/teen_1__.jpeg" alt="image-teen">
            </a>
            <Buttons btnName="Xem ngay" :borderColor="'#91c4e9'" :colorText="'#91c4e9'" />
        </div>
    </div>
</template>
<script>
import Buttons from "../base/Buttons";
export default {
    name: 'ThreeBanner',
    data() {
        return {
            borderImage: '15px',
        }
    },
    components: {
        Buttons
    },

}
</script>
<style lang="scss" scoped>
    .three-banner {
        padding: 25px;
        .banner-panel {
            border-radius: 5px;
            overflow: hidden;
            padding: 5px;
            display: inline-block;
            width: 33.33%;
            position: relative;
            > a {
                display: block;
                img {
                    object-fit: cover;
                    object-position: 50% 50%;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
    .three-banner .btn {
        position: absolute;
        left: 2%;
        bottom: 5%;
        right: auto;
    }
</style>