<template>
    <div class="col-sm-6 col-xs-12 product-gallery-popup">
        <div class="gallery" v-for="image in getDetail(this.$route.params.key)" :key="image.key">
            <div class="thumbnail vertical-thumbnail-wrapper" :v-bind="totalWidth">
                <span class="prev" @click="prev(image.image.length)"></span>
                <div class="list">
                    <li v-for="(item,index) in image.image" :key="item.key" style="list-style:none" @click="selectThumb(index)" :class="thumbActive == index ? activeClass : ''">
                        <div> 
                            <img ref="listThumb" :src="item" alt="image-thumb" >
                        </div>
                    </li>
                </div>
                <span class="next" @click="next(image.image.length)"></span>
            </div>
            <div class="content-image">
                <img :src="image.image[thumbActive]" alt="image-content">
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: 'LeftSidebar',
    data() {
        return {
            activeClass: 'active',
            thumbActive: 0,
            imageShow  : 3,
        }
    },
    methods: {
        selectThumb (index) {
            // let tops = this.$refs.listThumb.getBoundingClientRect().top
            this.thumbActive = index
        },
        next (item) {
            this.thumbActive+=1
            if (this.thumbActive >= item) {
                this.thumbActive = 0
            }
        },
        prev (item) {
            this.thumbActive-=1
            if (this.thumbActive < 0) {
                this.thumbActive = item - 1
            }
        }
    },
    computed: {
        ...mapGetters ({
            getDetail: 'getDetail'
        }),
    },                                                                                                                                                                    
}
</script>
<style lang="scss">
    .product-gallery-popup {
        .thumbnail.vertical-thumbnail-wrapper {
            width: 70px;
            float: left;
            position: relative;
            overflow: hidden;
            .list {
                padding: 2px;
                li {
                    margin: 5px 0;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.active {
                        outline: 1px solid #91c4e9;
                    }
                }
            }
            span {
                position: absolute;
                left: auto;
                right: 50%;
                transform: translate(50%, 0);
                width: 25px;
                height: 25px;
                background: #91c4e9;
                border-radius: 50%;
                cursor: pointer;
                z-index: 99;
                transition: 0.6s ease all;
                &::before {
                    content: '';
                    position: absolute;
                    top: auto;
                    left: auto;
                    right: 50%;
                    bottom: 50%;
                    transform: translate(50%,50%);
                    width: 15px;
                    height: 15px;
                    
                }
                &.prev {
                    top: -100%;
                    &::before {
                        background: url('../../../assets/icon/up.svg');
                    }
                }
                &.next {
                    bottom: -100%;
                    &::before {
                        background: url('../../../assets/icon/down.svg');
                    }
                }
            }
            &:hover {
                span {
                    &.prev {
                        top: 0;
                    }
                    &.next {
                        bottom: 0;
                    }
                }
            }
        }
        .content-image {
            width: calc(100% - 70px); 
            padding-left: 25px;
            float: right;
        }
        img {
            width: 100%;
        }
    }
</style>