<template>
    <div class="col-sm-6 col-xs-12 product-detail-infomation">
        <div class="li" v-for="(item) in getDetail(this.$route.params.key)" :key="item.key">
            <div class="product-info-main">
                <h2 class="product-name">{{item.name}}</h2>
                <div class="product attribute sku">
                    <span>SKU:</span>
                    <span class="value">{{item.sku}}</span>
                </div>
                <div class="product-info-price">
                    <span class="normal-price">{{item.price}}</span>
                    <span class="old-price"></span>
                </div>
                <div class="swatch-attribute color">
                    <span class="swatch-attribute-label">Màu sắc:</span>
                    <span class="swatch-attribute-selected-option">{{colorValue}}</span>
                    <div class="swatch-attribute-options">
                        <li class="swatch-option text" v-for="(color , indexColor) in item.color" :key="color.key" :style="{'background': color}" @click="selectColor(indexColor, color)" :class="activeColor == indexColor ? activeClass: ''">
                            <span>{{color}}</span>
                        </li>
                        <i>{{getError.errorColor}}</i>
                    </div>
                </div>
                <div class="swatch-attribute size">
                    <span class="swatch-attribute-label">Kích thước:</span>
                    <span class="swatch-attribute-selected-option">{{sizeValue}}</span>
                    <div class="swatch-attribute-options">
                        <li class="swatch-option text" v-for="(size, indexSize) in item.size" :key="size.key" @click="selectSize(indexSize, size)" :class="activeSize == indexSize ? activeClass: ''">
                            {{size}}
                        </li>
                        <i>{{getError.errorSize}}</i>
                    </div>
                </div>
                <div class="extra-link">
                    <a href="">Bảng chỉ dẫn size</a>
                </div>
                <div class="product-options-bottom">
                    <div class="box-tocart">
                        <div class="feild qty">
                            <label class="label" for="qty"><span>Số lượng</span></label>
                            <div class="control">
                                <input type="number" v-model.number="number">
                            </div>
                        </div>
                        <div class="stock available" title="Sẵn có">
                            <span>Còn trong kho</span>
                        </div>
                        <div class="actions">
                            <button @click="addProductTocart(item)" type="submit" title="Thêm vào giỏ hàng" class="action primary tocart" id="product-addtocart-button">
                                <span>Thêm vào giỏ hàng</span>
                            </button>
                            <button type="submit" title="Mua ngay" id="buy-now" class="action buynow primary">
                                <span>Mua ngay</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="attr-description">
                    <h3 class="label-description">Chi Tiết Sản Phẩm</h3>
                    <h5>Mô tả sản phẩm</h5>
                    <span>{{item.detail.description}}</span>
                    <h5>Chính sách giao hàng / Đổi trả</h5>
                    <span>{{item.detail.delivery_policy}}</span>
                    <h5>Hướng dẫm bảo quản</h5>
                    <span>{{item.detail.tutorial}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: 'RightSidebar',
    data() {
        return {
            activeClass  : 'selected',
            activeSize   : null,
            activeColor  : null,
            sizeValue    : null,
            colorValue   : null,
            number       : 1,
        }
    },
    methods: {
        selectSize (indexSize , item ) {
            this.activeSize = indexSize,
            this.sizeValue = item
        },
        selectColor (indexColor , item ) {
            this.activeColor = indexColor,
            this.colorValue = item
        },
        addProductTocart (product) {
            this.$store.dispatch('addProductTocart' , {product , val: this.number , sizeSelected: this.sizeValue , colorSelected: this.colorValue})
        }
    },  
    computed: {
        ...mapGetters({
            getDetail: 'getDetail',
            getError : 'getError'
        }),
    },
}
</script>