<template>
    <div>
        <Header />
        <ThreeBanner />
        <Products />
    </div>
</template>
<script>
import Header from '../components/layout/Header.vue'
import ThreeBanner from '../components/layout/ThreeBanner.vue'
import Products from '../components/layout/Products.vue'
export default {
    name: 'HomePage',
    data() {
        return {

        }
    },
    components: {
        Header,
        ThreeBanner,
        Products
    }
}
</script>