<template>
    <div>
        <Header />
        <Breadcrumbs />
        <div class="container">
            <div class="row">
                <LeftSidebar />
                <RightSidebar />   
            </div>
        </div>
    </div>
</template>
<script>
import LeftSidebar from '../components/layout/product/LeftSidebar.vue'
import RightSidebar from '../components/layout/product/RightSidebar.vue'
import Header from '../components/layout/Header.vue'
import Breadcrumbs from '../components/base/Breadcrumbs.vue'
export default {
    name: 'ProductDetails',
    data() {
        return {
            
        }
    },
    components: {
        Header,
        Breadcrumbs,
        LeftSidebar,
        RightSidebar,
    },
    created () {
        window.addEventListener('scroll', this.handleScroll);
    },
}
</script>


<style lang="scss">
.product-detail-infomation {
    .product-name {
        color: #333333;
        font-weight: 700;
        font-family: "Baloo 2";
    }
}
.product-info-main {
    text-align: left;
    .attr-description {
        margin-top: 25px;
        .label-description {
            color: #91c4e9;
            text-transform: uppercase;
            font-family: "Baloo 2", arial, tahoma;
            font-size: 25px;
            display: inline-block;
            border-bottom: 2px solid #91c4e9;
            margin-bottom: 10px;
            font-weight: 700;
        }
        h5 {
            cursor: pointer;
            padding-left: 30px;
            font-weight: 600;
            margin: 0;
            color: #222;
            line-height: 1.428;
            letter-spacing: 0.5px;
            font-family: "Baloo 2", arial, tahoma;
            position: relative;
            margin: 10px 0;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: auto;
                top: auto;
                bottom: 50%;
                transform: translate(0,50%);
                background: url('../assets/icon/right-arrow.svg') no-repeat;
                width: 20px;
                height: 20px;
            }
        }
        span {
            padding-left: 30px;
            font-family: "Baloo 2", arial, tahoma;
            font-weight: normal;
            font-size: 14px;
        }
    }

    > div {
        margin: 20px 0;
    }
    .extra-link a {
        color: #555555;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        background: url('../assets/icon/icon-size.png') no-repeat;
        padding-left: 40px;
    }
	.product {
		span {
			font-weight: 500;
            font-family: "Baloo 2";
		}
		strong {
			font-weight: 400;
            font-family: "Baloo 2";
		}
	}
    .swatch-attribute-options {
        display: flex;
        align-items: center;
        position: relative;
        i {
            position: absolute;
            right: 15px;
            left: auto;
            bottom: 50%;
            top: auto;
            transform: translate(0,50%);
            color: #dd867f;
            font-family: "Baloo 2";
        }
    }
    .swatch-attribute {
        &.color {
            .swatch-option.text {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                padding: 0;
                &:first-child {
                    margin-left: 0;
                }
                span {
                    width: auto;
                    height: auto;
                    display: inline-block;
                    position: absolute;
                    white-space: nowrap;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.25rem;
                    background: #91c4e9;
                    color: #ffffff;
                    visibility: hidden;
                    padding: 5px 10px;
                    bottom: 100%;
                    left: 50%;
                    opacity: 0;
                    border-radius: 2px;
                    margin: 0 0 .3125rem 0;
                    transform: translateX(0px);
                    transition: all 0.4s;
                    font-family: "Baloo 2";
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        border: 5px solid transparent;
                        border-top-color: #91c4e9;
                        left: 50%;
                        margin-left: -.3125rem;
                    }
                }
                &:hover {
                    span {
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
	.swatch-option.text {
		height: 39px;
		line-height: 39px;
		padding: 0 20px;
		border-color: #e4e4e4;
		border-radius: 5px;
		font-size: 14px;
		background-color: #f8f8f8;
		color: #555555;
		list-style: none;
		display: inline-block;
		margin: 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        position: relative;
        &:first-child {
            margin-left: 0;
        }
        &.selected {
            border: 1px solid #f97896;
        }
	}
    span.normal-price {
        color: #91c4e9;
        font-size: 18px;
        font-weight: 600;
        font-family: "Baloo 2";
    }
}
.price-box {
	.price {
		color: #91c4e9;
		font-weight: 600;
		font-size: 21px;
		line-height: 37px;
	}
}
.swatch-attribute-label {
	font-size: 15px;
	color: #666666;
	font-weight: 700;
	margin: 0 0 2px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	display: inline-block;
    font-family: "Baloo 2";
}
.swatch-attribute-selected-option {
    color: #91c4e9;
    padding-left: 8px;
    font-size: 16px;
    font-family: "Baloo 2";
}
.feild.qty {
	label.label > span {
		color: #666666;
        font-size: 15px;
        font-weight: 700;
        font-family: "Baloo 2";
        text-transform: uppercase;
        margin-right: 20px;
	}
}
.box-tocart {
    button.edit-qty {
        font-weight: 400;
        font-size: 14px;
        color: #333333;
        border: none;
        background: transparent;
    }
	.feild.qty {
        display: inline-block;
        margin-right: 15px;
		.control {
			border: none;
            display: inline-block;
            background: #edf7ff;
            border-radius: 40px;
            padding: 0 15px;
            input {
                font-weight: 400;
                font-size: 14px;
                color: #333333;
                width: 70px;
                border: 0;
                height: 40px;
                background: none;
                padding: 0;
                text-align: center;
                outline: unset;
            }
		}
	}
    .stock {
        &.available {
            line-height: 40px;
            color: #dd867f;
            display: inline-block;
        }
    }
    .actions {
        margin-top: 25px;
        button {
            background-color: #91c4e9;
            border: 1px solid #91c4e9;
            text-transform: uppercase;
            color: #fff;
            width: auto;
            border-radius: 40px;
            padding: 7px 20px 7px 40px;
            margin-right: 15px;
            position: relative;
            font-size: 15px;
            line-height: 24px;
            transition: 0.4s ease all;
            &:hover {
                border-color: #222;
                background-color: #222;
            }
            &::before {
                position: absolute;
                content: "";
                background: url('../assets/icon/icon-cart-single.png') no-repeat;
                width: 25px;
                height: 25px;
                left: 10px;
                top: auto;
                bottom: 50%;
                transform: translate(0, 50%);
            }
            &#buy-now {
                background-color: #dd867f;
                border: 1px solid #dd867f;
            }
        }
    }
}

</style>