<template>
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item"><a href="">{{home}}</a></li>
            <li class="item active" v-for="item in getProductById" :key="item.key">{{item.name}}</li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'Breadcrumbs',
    data () {
        return {
            active: 'active',
            home  : 'Trang chủ',
        }
    },
    computed: {
        getProductById () {
            return this.$store.getters.getProductById(this.$route.params.key)
        }
    },
}
</script>

<style scoped lang="scss">
    .breadcrumbs {
        background-color: transparent;
        margin-bottom: 20px;
        padding-top: 0;
        max-width: 1410px;
        margin: auto;
        .items {
            border-top: 1px solid #CCC;
            padding: 15px 0;
            text-align: left;
            margin-bottom: 35px;
            .item {
                a {
                    font-size: 16px;
                    color: #666;
                    text-decoration: none;
                }
                list-style: none;
                display: inline-block;
                padding-right: 15px;
                font-size: 16px;
                color: #666;
                font-family: "Baloo 2";
                position: relative;
                &::before {
                    content: "/";
                    position: absolute;
                    right: 5px;
                    left: auto;
                    top: auto;
                    bottom: 50%;
                    transform: translate(0,50%);
                    color: #666;
                    font-family: "Baloo 2";
                }
                &.active {
                    &::before {
                        display: none;
                    }
                    color: #91c4e9;
                }
            }
        }
    }
</style>