<template>
    <div class="btn">
        <a :href="href" class="default-btn" :style ="[{'font-size': fontSize , 'color':colorText , 'border-color': borderColor , 'padding':padding , 'border-radius': borderRadius} , styleButton]">{{btnName}}</a>
    </div>
</template>

<script>
export default {
    name: 'Buttons',
    props: {
        btnName: {
            type: String
        },
        fontSize: {
            type: String,
        },
        colorText: {
            type: String
        },
        borderColor: {
            type: String
        },
        padding: {
            type: String,
            default: '5px 10px',
        },
        borderRadius: {
            type: String,
            default: '5px',
        },
        href: {
            type: String
        }
    },
    data() {
        return {
            buttons: {
                color__hover: '#fff',
                backgroundColor: '#fff',
                border: '2px dashed',
                decoration: 'none',
                mainColor: '#91c4e9',
                border__hover: '2px solid',
                transition: '0.4s ease all',
            }
        }
    },
    computed: {
        styleButton () {
            return {
                '--color__hover': this.buttons.color__hover,
                '--backgroundColor': this.buttons.backgroundColor,
                '--border': this.buttons.border,
                '--decoration': this.buttons.decoration,
                '--border__hover': this.buttons.border__hover,
                '--transition': this.buttons.transition,
                '--mainColor': this.buttons.mainColor

            }
        }
    },
}
</script>

<style scoped lang="scss">
    .default-btn {
        background: var(--backgroundColor);
        border: var(--border);
        text-decoration: var(--decoration);
        transition: var(--transition);
        &:hover {
            color: var(--color__hover) !important;
            background: var(--mainColor);
            border: var(--border__hover) !important;
            border-color: var(--mainColor) !important;
        }
    }
</style>