<template>
    <div class="content-heading">
        <h3 class="title" :style="styleTitle">{{nameTitle}}</h3>
        <span class="block-note" :style="styleBlockNote">{{nameNote}}</span>
    </div>
</template>
<script>
export default {
    name: 'HeadingContent',
    props: {
        nameTitle: {
            type: String
        },
        nameNote: {
            type: String
        }
    },
    data() {
        return {
            title: {
                fontsize: '40px',
                lineheight: 'nomal',
                fontweight: '700',
                display: 'block',
                position: 'relative',
                color: '#000',
            },
            blockNote: {
                fontsize: '18px',
                color: '#626262',
                margintop: '13px',
            },
        }
    },
    computed: {
        styleTitle () {
            return {
                '--fontsize': this.title.fontsize,
                '--lineheight': this.title.lineheight,
                '--fontweight': this.title.fontweight,
                '--display': this.title.display,
                '--position': this.title.position,
                '--color': this.title.color,
            }
        },
        styleBlockNote () {
            return {
                '--fontsize': this.blockNote.fontsize,
                '--margintop': this.blockNote.margintop,
                '--color': this.blockNote.color,
            }
        }
    }
}
</script>


<style scoped lang="scss">
    .content-heading {
        margin-bottom: 36px;
        .title {
            font-size: var(--fontsize);
            line-height: var(--lineheight);
            font-weight: var(--fontweight);
            display: var(--display);
            position: var(--position);
            color: var(--color);
        }
        .block-note {
            font-size: var(--fontsize);
            margin-top: var(--margintop);
            color: var(--color);
        }
    }
</style>